<apex:page applyHtmlTag="false" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false">
	<div class="container hidden-phone deskLayout">
		<div class="sticky-wrapper">
			<div id="header">
				<div class="row-fluid headerRow">
					<div class="span12 header">
					</div>
				</div>
				<div class="menu_container">
					
				</div>
			</div>
			<div class="home_slider">
				<apex:insert name="splash" />
				<div id="breadcrumb_desktop_container">
				</div>
			</div>
			<div class="container-fluid contentBody">
				<apex:insert name="htmlbody" />
			</div>
			<div class="sticky-push"></div>
		</div>
		<div id="footer">
			<div class="row-fluid clear footerRow">
				<div class="span12 footerBrowser">
					<apex:include pageName="cc_cceag_footer"/>
				</div>
			</div>
		</div>
	</div>
</apex:page>
