<apex:page controller="cc_cceag_ctrl_modal_email" applyBodyTag="false" applyHtmlTag="false" showHeader="false" sidebar="false" showChat="false" standardStylesheets="false">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>Kontaktanfrage zum Verkaufsberater - Haben Sie Fragen oder Wünsche?</h2>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Hinterlassen Sie Ihrem Verkaufsberater eine Nachricht.</p>
                <!--
                <div class="col-sm-4 col-md-3 hidden-xs" style="padding:0px;">
                    <div class="modal-body">
                        Ausgewählte Adresse:<br />
                        Musterstraße 12<br />
                        10101 Berlin<br />
                        Deutschland<br />
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 col-xs-12" style="padding:0px;">
                -->
                <div class="col-sm-8 col-md-12 col-xs-12" style="padding:0px;">                
                    <div class="modal-body">
                        <form>
                            <div class="group">
                                <textarea name="message" placeholder="Ihre Nachricht ..."></textarea>
                            </div>
                        </form>
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="button button-next action-send modal-exchange" href="/shop/apex/modal_email_success"><span><em></em>Absenden</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</apex:page>
