<apex:page controller="ConnectCtrlStartPage" showHeader="false"
    sidebar="false">

    <style>
/**** allen hu css****/

/**** body right ****/
.Bibliothek {
    width: 910px;
    margin-left: auto;
    margin-right: auto;
}

.chatter-area {
    margin-top: 61px;
}

.Bibliothek1 {
    padding-top: 20px;
    padding-right: 20px;
    word-break: break-word;
}

.BibliothekText1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #111111;
}
</style>

    <c:ConnectCompHeader navi_location1="Startseite" activeBtnName="DivBtn1" />
    <div class="Bodyer" id="CPBodyer">
        <div class="BodyBox">
            <div class="BodyTop">
                <c:ConnectCompNavigation activeNavigateName="BoderLeft1" />
                <div class="Bibliothek" id="CPBibliothek" style="float: left;">
                    <div class="Bibliothek1">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="BibliothekTitle"><img
                                    src="{!URLFOR($Resource.CPResources, 'HTMLs/images/140423_cc_connect_icons_grau_einstellungen_small.png')}"
                                    width="25" height="25" /></td>
                                <td class="BibliothekText1">Startseite</td>
                            </tr>
                        </table>

                        <!-- Chatter Area -->
                        <div class="chatter-area">
                            <h2 class="page-title">Neues aus meinem Netzwerk</h2>
                            <chatter:newsfeed />

                            <!--<chatter:feedWithFollowers entityId="{!$User.Id}" />-->
                            <!--<chatter:feed entityId="{!$User.Id}" />-->

                        </div>


                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <c:ConnectCompFooter />
        </div>
    </div>
</apex:page>
