<apex:page controller="SalesOrderSummaryController" standardStylesheets="false" applyHtmlTag="false" showHeader="false" renderAs="PDF">
    <head>
        <style type="text/CSS">
			@page{
                size: A4;
                margin-left: 35px;
                margin-right: 35px;
                margin-top: 85px;
                margin-bottom: 85px;
            }
            @media print {
                .page_break{
                        page-break-after: always;
                }
            }
            body{
                font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;         
            }

            .center{
                text-align:center;
            }

            .table-bordered {
                /*
				border: 1px solid #000;
                border-collapse : collapse;
                font-size : .7em;
				*/
				font-size: 10px; 
				margin:0px;padding:0px;
				border-collapse: collapse;
				border-spacing: 0; 
				width:100%;
            }


           thead>tr>th {
                vertical-align: bottom;
                border: 1px solid black;
                border-spacing: 0;
                text-align:center;
                border-collapse: collapse;
            }

            td {
                vertical-align: bottom;
                border: 1px solid black;
                border-spacing: 0;
                border-collapse: collapse;
                text-align:left;
            }

            .header>td{
                font-weight:bold;
                background : #c4c4c4;               
            }

            .echoArea>td{
                padding:10px;
            }

        </style>
	</head>
	<center>
		<img src="{!$Resource.coca_cola_logo}" wdith="100%" height="100%"/><br/>
	</center>
	<h2>GFGH-Informationen</h2>
	<!--<table style="font-size: 10px; margin:0px;padding:0px;border-collapse: collapse;border-spacing: 0; width:100%;">-->
	<table class="table-bordered">
		<tr>
			<th style="border: 1px solid black;">Kundennummer</th>
			<th style="border: 1px solid black;">Name</th>
			<th style="border: 1px solid black;">Ansprechpartner bei der CCEAG</th>
			<th style="border: 1px solid black;">Telefonnummer für Rückfragen</th>
		</tr>
		<tr>
			<td style="border: 1px solid black;"><apex:outputField value="{!SupplierAccount.AccountNumber}"/></td>
			<td style="border: 1px solid black;"><apex:outputField value="{!SupplierAccount.Name}"/></td>
			<td style="border: 1px solid black;"><apex:outputField value="{!SupplierAccount.ContactDefault__c}"/></td>
			<td style="border: 1px solid black;"><apex:outputField value="{!SupplierAccount.Phone}"/></td>
		</tr>
	</table>

	<apex:repeat value="{!SalesOrders}" var="order">
		<h2>Kundenbestellung</h2>
		<table style="font-size: 10px; margin:0px;padding:0px;border-collapse: collapse;border-spacing: 0; width:100%;">
			<tr>
				<th style="border: 1px solid black;">Kundennummer (beim GFGH)</th>
				<th style="border: 1px solid black;">Kundenname</th>
				<th style="border: 1px solid black;">Anschrift</th>
				<th style="border: 1px solid black;">Telefonnummer</th>
				<th style="border: 1px solid black;">Wunschliefertermin</th>
				<th style="border: 1px solid black;">Kommentar</th>
				<th style="border: 1px solid black;">Gratiswarenbestellung (ja / nein)</th>
			</tr>
			<tr>
				<td style="border: 1px solid black;"><apex:outputField value="{!order.CustomerNumberAtSupplier__c}"/></td>
				<td style="border: 1px solid black;">
					<apex:outputField value="{!order.Account__r.Name}"/>, 
					<apex:outputField value="{!order.Account__r.Name2__c}"/>
				</td>
				<td style="border: 1px solid black;">
					<apex:outputText value="{!order.Account__r.BillingStreet + ' ' + order.Account__r.BillingHouseNo__c}"/>,
					<apex:outputField value="{!order.Account__r.BillingPostalCode}"/>
					<apex:outputField value="{!order.Account__r.BillingCity}"/>
					
				</td>
				<td style="border: 1px solid black;"><apex:outputField value="{!order.Account__r.Phone}"/></td>
				<td style="border: 1px solid black;"><apex:outputField value="{!order.RequestedDeliveryDate__c}"/></td>
				<td style="border: 1px solid black;"><apex:outputField value="{!order.Description__c}"/></td>
				<td style="border: 1px solid black;">{!IF(order.Type__c == "Free Order", "Ja", "Nein")}</td>
			</tr>
		</table>
	
		
	<h3 >Bestellte Artikel</h3>
	<apex:dataTable styleClass="table-bordered"  value="{!order.SalesOrderItems__r}" var="orderItem">
		<apex:column >
	        <apex:facet name="header">CCEAG Artikelnummer</apex:facet>
			<apex:outputText value="{!orderItem.Product2__r.ID2__c}"/>
		</apex:column>
		<apex:column >
	        <apex:facet name="header">Artikelbezeichnung</apex:facet>
			<apex:outputText value="{!orderItem.Product2__r.Name}"/>
		</apex:column>
		<apex:column >
	        <apex:facet name="header">Artikelnummer beim GFGH</apex:facet>
			<apex:outputText value="{!orderItem.ExternalArticleNumber__c}"/>
		</apex:column>
		<apex:column >
	        <apex:facet name="header">Bestellmenge</apex:facet>
			<apex:outputText value="{!orderItem.Quantity__c}"/>
		</apex:column>
	</apex:dataTable>
	</apex:repeat>

</apex:page>
