<apex:page controller="SCInventoryAbortController">

<apex:sectionHeader subtitle="{!$Label.SC_btn_Cancel}" title="{!$ObjectType.SCInventory__c.label}"/>

<style>
.mainBlock {
    background: url(/img/loading32.gif) no-repeat center center;
    width:100%;
    height:200px;
}
.okBlock {
    background: url(/img/msg_icons/confirm32.png) no-repeat center center;
    width:100%;
    height:200px;
}
.errorBlock {
    background: url(/img/msg_icons/warning32.png) no-repeat center center;
    width:100%;
    height:200px;
}
.labelText {
    margin-top:100px;
    width:100%;
    font-size:20px;
    text-align:center;
}
</style>

<script>
    function counter( zeit ) 
    {
        if( zeit >= 0 )
        {
            document.getElementById( "timer" ).firstChild.nodeValue = zeit;
            window.setTimeout( 'counter( '+ (zeit-1)+' )', 1000 );
        }
        else
        {
            goBack();
        }
    }
</script>

    <apex:form >

        <apex:actionFunction name="goBack" action="{!goBack}" reRender="none"/>
        <apex:actionFunction name="init" action="{!init}" reRender="theBlock"/>
    
        <apex:outputPanel layout="none" id="theBlock">
    
            <apex:outputPanel id="processingPanel" rendered="{!!ok && errorMsg == ''}">
                <apex:outputPanel styleClass="labelText" layout="block">
                    <apex:outputText value="{!$Label.SC_app_Processing}"/>
                </apex:outputPanel>
                <apex:outputPanel styleClass="mainBlock" layout="block"/>
            </apex:outputPanel>
            
            <apex:outputPanel id="okPanel" rendered="{!ok}">
                <apex:outputPanel styleClass="labelText" layout="block">
                    <apex:outputText value="{!$Label.SC_msg_InventoryCancelled}"/>
                    <br/>
                    <span style="font-size:14px;">
                    ({!$Label.SC_msg_ForwardingIn} <span id="timer">&nbsp;</span> {!$Label.SC_msg_Seconds})
                    <script>
                        counter(5);
                    </script>
                    </span>
                    <br/><br/>
                    <a href="/{!$CurrentPage.parameters.oid}" style="font-size:14px;">{!$Label.SC_app_GoBack}</a>
                </apex:outputPanel>
                <apex:outputPanel styleClass="okBlock" layout="block"/>
            </apex:outputPanel>
        
            <apex:outputPanel id="errorPanel" rendered="{!errorMsg != ''}">
                <apex:outputPanel styleClass="labelText" layout="block">
                    <apex:outputText value="{!$Label.SC_app_Error}"/>: 
                    <apex:outputText value="{!errorMsg}"/>
                    <br />
                    <a href="/{!$CurrentPage.parameters.oid}" style="color:red;">{!$Label.SC_app_GoBack}</a>
                </apex:outputPanel>
                <apex:outputPanel styleClass="errorBlock" layout="block"/>
            </apex:outputPanel>
    
        </apex:outputPanel>
    
    </apex:form>

    <script>
        init();
    </script>
    
</apex:page>
