<apex:page standardController="SCOrder__c"
    extensions="SCOrderLongtextPageExtension"
    wizard="true"
    showChat="false"
    sidebar="false"
    showHeader="false"
    >
<!--    apex:sectionHeader title="Auftragsbeschreibung" id="header" />-->
    <apex:form id="changeDescription">

        <apex:inputTextarea id="newLongtextDescription" value="{!text}" style="width: 98%;" rows="9"/>
        
        <apex:commandButton value="Text Speichern" action="{!save}"/>

    </apex:form>
</apex:page>
