<!--
 * @(#)SCVPOrderToPDF.page
 * 
 * Copyright 2014 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 *
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * @author Sergey Utko
-->
<apex:page controller="SCVPOrdersController" 
		   readOnly="true"
		   standardStylesheets="false" 
           showHeader="false"
           showChat="false"
           sidebar="false"
           applyBodyTag="false"
		   renderAs="pdf">

<head>
    <style>
        @page{
            size: A4;
            margin : 25px;
            
        }
        @media print {
            .page-break { display: block; page-break-before: always; }
        }
        body{
            font: 7pt arial, sans-serif;
        }
        table{  
            width:100%;
            margin: 0px;
            padding: 0px;
            <!-- style="border: 1px solid black;" -->
        }
        div{
            margin: 0px;
            padding: 0px;
        }
        .header{
            font: 8pt arial, sans-serif;
            background-color:gray;
            border:1px solid black;padding:5px;
            margin-top:5px;
        }
        td{ 
            margin: 0px;
            padding: 0px;
            vertical-align: text-top;
        }
        .label{
            text-align:right;
        }
        .value{
            border-bottom: 1px solid black;
            padding-left:4px;
            margin-top:5px;
        }
        img .checkbox{
            margin-top:5px; 
            margin-bottom:5px;
        }
    </style> 
</head>

<apex:repeat value="{!ExportOrdersToPDF.size}" var="order">


</apex:repeat>

</apex:page>
