<apex:page controller="SCVPProductsController" action="{!checkDefaultFilter}" showHeader="false" sidebar="false">

	<!-- Header -->
	<c:SCVPHeader currentPage="products"/>
    
	<!-- A wrapper for the whole page -->
	<div style="padding:0 10px 0 10px;">

	<apex:includeScript value="{!URLFOR($Resource.SCRes,'/lib/jquery/js/jquery-1.7.1.min.js')}" />
	
	<apex:stylesheet value="{!URLFOR($Resource.SCPopup,'css/popup.css')}" />
	
	<style>	
	    div.hideCurrDate span.dateInput span.dateFormat
	    {
	        display:none;
	    }
		
		/* Standard sfdc css class override */
		.message {
			margin: 4px 0;
		}
		
		.loading {
		    background:url(/img/loading.gif) no-repeat 0 0; 
		    padding-left:30px;
		    margin-left:20px;
		    font-size:12px;
		    border: none;
		}
		
		.sc-portal-addNew {
			display:inline-block; 
			background:url("/img/feeds/follow12.png") no-repeat transparent; 
			height:12px; 
			vertical-align:middle; 
			margin:0px 0px 0px 4px; 
			width:auto; 
			padding:0px 0px 0px 16px;
		}
		.sc-portal-addNew a{
			color:#015ba7;
			text-decoration:none;
		}
		.sc-portal-addNew a:hover{
			text-decoration:underline;
		}
		.sc-portal-filter input[type=text], .sc-portal-filter select, .sc-portal-filter textarea {
			width: 70%;
		}
		
		.btnGreen, .btnGray {
		    margin: 0 3px 0 0;
		    padding: 1px 11px;
		    font-size: 12px;
		    font-family:Arial,Helvetica,sans-serif;
		    border-radius: 3px;
		    font-weight: bold;
		    cursor:pointer;
		}
		.btnGreen {
		    color:#fff;
		    background: #8AB529;
		    border: 1px solid #6C8049;
		}
		.btnGreen:active {
		    background-color: #A4D03A;
		}
		.btnGray {
		    color:#404C5B;
		    background: #EAEBED;
		    border: 1px solid #C5C6C8;
		}
		
		.coke-NewFilterPopup {
		    border: none;
		    border-radius: 10px 10px 0;
		    display: none;
		    height: 80px;
		    /*margin-left: -90px;*/
		    margin-top: -128px;
		    padding: 10px 18px 10px 14px;
		    position: absolute;
		    width: 300px;
		    z-index: 999;
	    }
		.blocker{
		    background: url("/img/loading.gif") no-repeat scroll center center rgba(248, 248, 248, 0.85);
		    bottom: 0;
		    left: 0;
		    overflow: hidden;
		    position: absolute;
		    right: 0;
		    top: 0;
		    z-index: 100;
		    display:none;
		}
		.blocker-orders {
			/*top: 49px;*/
			bottom: 24px;
		}
		.blocker-eq-change {
			top: 49px;
		}
	</style>
	<script>
	
	    // Array with all selected entries on the page
		var vp_selectedValues = new Array();
	
	   /*
		* Function invokes if the page is loaded 
		*/
	    jQuery(document).ready(function() {
	        
	        /*** Enter Key Press SFDC behavior ***/
	        // If there is a commandButton with NO reRender parameter, then
	        // if the user press the Enter key this button is automatically submitted.
	        // The cause of this issue is that the commandButtons without reRender parameter
	        // are rendered as type="submit" buttons. Otherwise type="button". 
	    	
	    	// Enter key trigger on rename filter field
			jQuery('[id$=renameString]').live('keyup', function(event) {
	        	if (event.keyCode == 13) {
	                event.preventDefault();
	                jQuery('#btnRenameFilter').click();
	            }
	        });
	        
	    	// Enter key trigger on new filter name field
			jQuery('[id$=newFilterNameString]').live('keyup', function(event) {
	        	if (event.keyCode == 13) {
	                event.preventDefault();
	                jQuery('#btnCreateNewFilter').click();
	            }
	        });
	        
	    	// Enter key trigger on the whole filter form (only "input type=text" fields)
			jQuery('#filterWrapper input[type=text]').live('keyup', function(event) {
	        	if (event.keyCode == 13) {
	                event.preventDefault();
	                filterSearch();
	            }
	        });
	        
		});
		
		jQuery('[id$=orderSaveButton]').live('click', function(){
			disableEnableButton(jQuery(this),true);
		});
		
		function disableEnableButton(elem, disable)
		{
			if(disable)
			{
				elem.removeClass('btn').addClass('btnDisabled').attr('disabled','disabled');
			}
			else
			{
				elem.removeClass('btnDisabled').addClass('btn').removeAttr('disabled');
			}
		}
	    
	   /*
		* Only if more then 2 checkboxes are selected this buttoin will be active.
		*/
	    function vpCheckButtonAvailability()
	    {
			//if(vp_selectedValues.length > 0)
			if(jQuery('[id$=selectedValuesHidden]').val() != '')
	        {
	        	disableEnableButton(jQuery('[id$=btnPrintOrders]'), false);
	        	disableEnableButton(jQuery('[id$=btnExportOrdersToExcel]'), false);
	        }
	        else
	        {
	        	disableEnableButton(jQuery('[id$=btnPrintOrders]'), true);
	        	disableEnableButton(jQuery('[id$=btnExportOrdersToExcel]'), true);
	        }	    
	    }
	    		
	   /*
		* By click on the checkbox the title-value pushed to the array.
		*/
		function getSelected(elem)
		{        
			var hiddenSelected = jQuery('[id$=selectedValuesHidden]').val();
			var hiddenSelectedArray = hiddenSelected.split(',');

			if(elem.checked == true || elem.checked == 'checked')
			{
				if(hiddenSelectedArray.indexOf(elem.title) == -1)
				{
					// Adding element value to the array only if it was not already there
					hiddenSelectedArray.push(elem.title);
					jQuery('[id$=selectedValuesHidden]').val(hiddenSelectedArray.toString());
				}			
			
				/*
				if(vp_selectedValues.indexOf(elem.title) == -1)
				{
					// Adding element value to the array only if it was not already there
					vp_selectedValues.push(elem.title);
				}
				*/
			}
			else
			{
				hiddenSelectedArray.splice(hiddenSelectedArray.indexOf(elem.title), 1);
				jQuery('[id$=selectedValuesHidden]').val(hiddenSelectedArray.toString());
				
				/*
				// Removing an element value from the array
				vp_selectedValues.splice(vp_selectedValues.indexOf(elem.title), 1);
				*/
			}
						
			vpCheckButtonAvailability();
		}
		
	   /*
		* Runs every time if the orders block is refreshed.
		* Selects all checkboxes which 'title' parameter are in the array.
		*/
		function vpDoCheckboxPreselection()
		{
			var hiddenSelected = jQuery('[id$=selectedValuesHidden]').val();
			var hiddenSelectedArray = hiddenSelected.split(',');
		
			jQuery('.selectedEntry').each(function()
			{		
				if(hiddenSelectedArray.indexOf(jQuery(this).attr('title')) > -1)
				{
					jQuery(this).prop('checked',true);
				}
			})

			vpCheckButtonAvailability();
		}
		
	   /*
		* Resets all values in the filter form.
		*/
		function resetFilterForm()
		{
			jQuery('#filtersArea option:selected').removeAttr('selected');
			jQuery('#filtersArea select').val('');
			jQuery('#filtersArea input[type=text]').val('');
		}
		
	   /*
		* Opens the installed base search window
		*/
		function openInstalledBaseSearch(currentOrderType, mode, orderId)
        {           
			var height = 720;  //screen.height - 200;
			var width =  1170; //screen.width - 100;
			var centeredY = (screen.height - height) / 2;
			var centeredX = (screen.width - width) / 2;
			var windowFeatures = 'height=' + height + ',width=' + width +
			                     ',toolbar=0,scrollbars=1,status=0' + 
			                     ',resizable=0,location=0,menuBar=0';
			if(currentOrderType == '5711')
			{
				var isEquipmentNew = '';
				if(mode == 'new')
				{
					isEquipmentNew = '&isEquipmentNew=true';
				}	
				wndInstBase = window.open('/apex/SCInstalledBaseSearchZC16?portal=true&wrapMassAction=1&scontrolCaching=1&id=' + orderId + isEquipmentNew, 
				              'ibSearch', windowFeatures+',left=' + centeredX +',top=' + centeredY);
			}
			else
			{
				wndInstBase = window.open('/apex/SCInstalledBaseSearch?portal=true&wrapMassAction=1&scontrolCaching=1&id=' + orderId, 
				              'ibSearch', windowFeatures+',left=' + centeredX +',top=' + centeredY);
			}
			wndInstBase.focus();
        }
        
	   /*
		* This function shows or hides the blocker layer based on the given parameter 
		*/
		function disableInputs(param1,param2)
		{
			if(param2)
			{
				jQuery('.blocker-' + param1).show();
			}
			else
			{
				jQuery('.blocker-' + param1).hide();
			}
		}
	</script>
	
	<apex:pageMessages escape="false" id="errorMessages"/>
	
	<apex:form >
	
	<apex:actionFunction name="sorter" action="{!RefreshEquipment}" reRender="Products,errorMessages">
		<apex:param name="p1" assignTo="{!sortField}" value=""/>
		<apex:param name="p2" assignTo="{!filterQuery}" value="true" />
	</apex:actionFunction>
	
	<!--  Invokes a new search with search parameters -->
	<apex:actionFunction name="filterSearch"  action="{!RefreshEquipment}" status="filterStatus">
	</apex:actionFunction>

	
	<!--  Add new filter function -->
	<apex:actionFunction name="addNewFilter" action="{!createNewFilter}" reRender="allFilters,errorMessages" status="filterStatus" />
	<!--  Rename current filter function -->
	<apex:actionFunction name="renameCurrentFilter" action="{!filterRename}" reRender="allFilters,errorMessages" status="filterStatus" />
	<!-- Delete current filter -->
	<apex:actionFunction name="deleteCurrentFilter" action="{!filterDelete}" reRender="allFilters,errorMessages,filterForm,orders" status="filterStatus">
		<apex:param name="p1" assignTo="{!filterQuery}" value="true" />
	</apex:actionFunction>
	
	<!-- Vendor Infors -->
<!-- 	<apex:outputPanel id="vendorInfos" layout="none"> -->
<!-- 	<apex:outputPanel layout="none" rendered="{!isVendor}"> -->
<!-- 		<div id="filtersAreaPanel"> -->
<!-- 			<div class="apexp"> -->
<!-- 				<div class="bPageBlock brandSecondaryBrd apexDefaultPageBlock secondaryPalette" style="border-bottom: none !important;"> -->
<!-- 					<div class="pbHeader"> -->
<!-- 						<table cellspacing="0" cellpadding="0" border="0"> -->
<!-- 							<tr> -->
<!-- 								<td class="pbTitle" style="width: 20% !important;"> -->
<!-- 									<h2 class="mainTitle">Dienstleister Informationen</h2> -->
<!-- 								</td> -->
<!-- 								<td class="pbButton"> -->
<!-- 								<span> -->
<!-- 								<b>Name:</b> {!vendor.Name1__c} ({!vendor.Name}). <b>Adresse:</b> {!vendor.Street__c} {!vendor.HouseNo__c}, {!vendor.PostalCode__c}  {!vendor.City__c} -->
<!-- 								</span> -->
<!-- 								</td> -->
<!-- 							</tr> -->
<!-- 						</table> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</apex:outputPanel> -->
<!-- 	</apex:outputPanel> -->

    <!-- Vendor Infos -->
    <apex:outputPanel id="vendorInfos" layout="none">
	<apex:outputPanel layout="none" rendered="{!isVendor}"> 
        <div id="filtersAreaPanel">
            <div class="apexp">
                <div class="bPageBlock brandSecondaryBrd apexDefaultPageBlock secondaryPalette">
                    <div class="pbHeader" style="border-radius: 6px;">
                        <table cellspacing="0" cellpadding="0" border="0" style="border-bottom:none;">
                            <tr>
                                <td class="pbTitle" style="width: 20% !important;">
                                    <h2 class="mainTitle">Dienstleister Informationen</h2>
                                </td>
                                <td class="pbButton">
                                <span>
                                <img src="{!URLFOR($Resource.SCPortal,'/images/iconPerson.png')}" border="0" style="vertical-align: text-bottom;margin: 0 5px 0 0;"/>
                                <b>Name:</b> {!vendor.Name1__c} ({!vendor.Name}). 
                                <img src="{!URLFOR($Resource.SCPortal,'/images/iconCompass.png')}" border="0" style="vertical-align: top;margin: 0 4px 0 12px;"/>
                                <b>Adresse:</b> {!vendor.Street__c} {!vendor.HouseNo__c}, {!vendor.PostalCode__c}  {!vendor.City__c}
                                </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </apex:outputPanel>
    </apex:outputPanel>
	
	<!--  Search Filter -->
	<div id="filtersArea">
	<apex:outputPanel layout="none" id="filters">
	<apex:pageBlock title="Filter" mode="edit" >
		<!-- Buttons -->
		<apex:pageBlockButtons location="top">
			<input type="button" 
				   onclick="jQuery('#filtersArea .pbBody, #filtersArea .pbBottomButtons').toggle(); jQuery(this).val(jQuery('#filtersArea .pbBody').is(':visible') ? 'Ausblenden' : 'Einblenden');" 
				   value="Ausblenden" 
				   style="float:right;" 
				   class="btn"/>
		</apex:pageBlockButtons>
		<apex:pageBlockButtons location="bottom">
			<!-- Button: Assign filter -->
			<input type="button" class="btn btn-primary" value="Filter anwenden" onClick="filterSearch();" id="maButton"/>
			<!-- Button: Reset form -->
			<input type="button" onclick="resetFilterForm();" value="Formular leeren" class="btn"/>
			<!-- Action Status -->
		    <apex:actionStatus startText="" stopText="" startStyleClass="loading" id="filterStatus"/>
			<!-- Filters list -->
			<apex:outputPanel id="allFilters" layout="none">
			<apex:outputPanel style="float:right;"> <!-- rendered="{!NOT(ISBLANK(searchFilters))}"-->
				<apex:selectList value="{!selectedFilter}" size="1" multiselect="false" id="filterList">
					<apex:selectOptions value="{!LoadFilters}"/>
					<apex:actionSupport event="onchange" action="{!switchFilterForProducts}" status="filterStatus" reRender="filterForm,Products,errorMessages">
					</apex:actionSupport>
				</apex:selectList>
				<input type="button" class="btn" value="Neu" onclick="jQuery('#addNewSearchFilterPopup').fadeIn(250); "/>
				<input type="button" class="btn" value="Umbenennen" onclick="jQuery('[id$=renameString]').val(jQuery('[id$=filterList] option:selected').text()); jQuery('#addNewRenameFilterPopup').fadeIn(250);"/>
				<input type="button" class="btn" value="Entfernen" onclick="jQuery('#deleteFilterPopup').fadeIn(250);"/>
				
				<!-- New filter popup -->   
				<div id="addNewSearchFilterPopup" class="gmsPopupWindow coke-NewFilterPopup">
				    <div id="addApplianceHeader" class="gmsPopupHeader" style="font-size:12px;margin:0 0 5px;">Filter Name:</div>
				    <div class="gmsPopupContentguaranteeInfo" style="font-size:11px;">
				        <div style="margin: 0 0 12px;">
				            <apex:inputText value="{!newFilterTitle}" style="width: 98%;" id="newFilterNameString"/>
				        </div>
				        <input type="button" class="btnGreen" value="{!$Label.SC_btn_Save}" id="btnCreateNewFilter" onclick="addNewFilter(); jQuery('#addNewSearchFilterPopup').fadeOut(300);"/>
				        <input type="button" class="btnGray" value="{!$Label.SC_btn_Cancel}" onclick="jQuery('#addNewSearchFilterPopup').fadeOut(300);"/>
				    </div>
				</div>
				
				<!-- Rename filter popup -->   
				<div id="addNewRenameFilterPopup" class="gmsPopupWindow coke-NewFilterPopup">
				    <div class="gmsPopupHeader" style="font-size:12px;margin:0 0 5px;">Filter Name:</div>
				    <div class="gmsPopupContentguaranteeInfo" style="font-size:11px;">
				        <div style="margin: 0 0 12px;">
				            <apex:inputText value="{!renamedFilterTitle}" style="width: 98%;" id="renameString"/>
				        </div>
				        <input type="button" class="btnGreen" value="{!$Label.SC_btn_Save}" id="btnRenameFilter" onclick="renameCurrentFilter(); jQuery('#addNewRenameFilterPopup').fadeOut(300);"/>
				        <input type="button" class="btnGray" value="{!$Label.SC_btn_Cancel}" onclick="jQuery('#addNewRenameFilterPopup').fadeOut(300);"/>
				    </div>
				</div>
				
				<!-- Delete filter popup -->   
				<div id="deleteFilterPopup" class="gmsPopupWindow coke-NewFilterPopup">
				    <div class="gmsPopupHeader" style="font-size:12px;margin:18px 0 20px;">Wollen wirklich den Filter entfernen?</div>
				    <div class="gmsPopupContentguaranteeInfo" style="font-size:11px;">
				        <input type="button" class="btnGreen" value="{!$Label.SC_btn_Save}" id="btnDeleteFilter" onclick="deleteCurrentFilter(); jQuery('#deleteFilterPopup').fadeOut(300);"/>
				        <input type="button" class="btnGray" value="{!$Label.SC_btn_Cancel}" onclick="jQuery('#deleteFilterPopup').fadeOut(300);"/>
				    </div>
				</div>

			</apex:outputPanel>
			</apex:outputPanel>
		</apex:pageBlockButtons>
		<!-- Search Fields -->
		<div class="sc-portal-filter" id="filterWrapper">			
			<apex:pageBlockSection id="filterForm">

				<!-- MatNr -->
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.SCProductModel__c.fields['Name'].label}" for="MatNr"/>
					<apex:inputText value="{!FilterMatNrFilter}" id="MatNr"/>
				</apex:pageBlockSectionItem>
				<!-- Mat Kurztext -->
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.SCProductModel__c.fields['ProductNameCalc__c'].label}" for="MatNr"/>
					<apex:inputText value="{!MatKurztextFilter}" id="MatNr"/>
				</apex:pageBlockSectionItem>
				<!-- Branding -->
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.SCInstalledBase__c.fields['Brand__c'].label}" />
					<apex:inputField value="{!x_FilterHelper.Brand__c}" />
				</apex:pageBlockSectionItem>
				<!-- Vendor -->
				<apex:pageBlockSectionItem rendered="{!!isVendor}">
					<apex:outputLabel value="{!$ObjectType.SCStock__c.fields['Vendor__c'].label}" />
					<apex:inputField value="{!x_FilterHelperVendor.Vendor__c}" />
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</div>	
	</apex:pageBlock>
	</apex:outputPanel>
	</div>
	
	<apex:pageBlock title="Stock">
		<apex:pageBlockTable value="{!x_StockListForPage}" var="Stock" >
			<apex:column >
				<apex:commandLink action="{!Stock.showEquipmentForThisStock}" value="Produkt Liste"/>
				<apex:facet name="header">
			   		Aktion
				</apex:facet>
			</apex:column>
			<apex:column >
				<apex:outputText value="{!Stock.x_stockItem.Name}" /> / <apex:outputText value="{!Stock.x_stockItem.Plant__r.Name}" />
				<apex:facet name="header">
			   		{!$ObjectType.SCStock__c.fields['Name'].label}  /  {!$ObjectType.SCStock__c.fields['Plant__c'].label} 
				</apex:facet>
			</apex:column>
			<apex:column >
				<apex:outputText value="{!Stock.x_stockItem.Type__c}" />
				<apex:facet name="header">
			   		{!$ObjectType.SCStock__c.fields['Type__c'].label}
				</apex:facet>
			</apex:column>
			<apex:column >
				<apex:outputText value="{!Stock.x_stockItem.Info__c}" />
				<apex:facet name="header">
			   		{!$ObjectType.SCStock__c.fields['Info__c'].label}
				</apex:facet>
			</apex:column>	
		</apex:pageBlockTable>
	</apex:pageBlock>
	
	<apex:outputPanel id="Products" layout="block" style="position:relative;height:100%;">
		<apex:pageBlock title="Products">
			
			<apex:outputPanel layout="block" styleClass="blocker blocker-orders" />
	
			<apex:pageBlockTable value="{!x_EquipmentListforPage}" var="EquipmentVar" >
				<apex:column >
					<apex:outputText value="{!EquipmentVar.x_Lagerort}" rendered="{!isVendor}"/>
					<apex:outputLink value="/{!EquipmentVar.x_LagerortId}"  rendered="{!!isVendor}" id="theLink">{!EquipmentVar.x_Lagerort}</apex:outputLink>
					<apex:facet name="header">
						{!$ObjectType.SCInstalledBase__c.fields['Stock__c'].label}	
					</apex:facet>
				</apex:column>	
				<apex:column >
			   		<apex:outputText value="{!EquipmentVar.x_MatNr}" />
			   		<apex:facet name="header">	
			   		<a href="javascript:sorter('MAX(ProductModel__r.Name)');">	
						{!$ObjectType.SCProductModel__c.fields['Name'].label}
						<img src="/img/arrow{!IF(sortOrder == 'DESC', 'Down', 'Up')}.gif" style="vertical-align:middle; display:{!IF(sortField == 'MAX(ProductModel__r.Name)', 'inline-block', 'none')};" />
					</a>
					</apex:facet>
			   	</apex:column>	
			   	<apex:column >
			   		<apex:outputText value="{!EquipmentVar.x_MatKurztext}" />	
			   		<apex:facet name="header">
			   		<a href="javascript:sorter('MAX(ProductModel__r.ProductNameCalc__c)');">
							{!$ObjectType.SCProductModel__c.fields['ProductNameCalc__c'].label}
							<img src="/img/arrow{!IF(sortOrder == 'DESC', 'Down', 'Up')}.gif" style="vertical-align:middle; display:{!IF(sortField == 'MAX(ProductModel__r.ProductNameCalc__c)', 'inline-block', 'none')};" />
					</a>
					</apex:facet>
			   	</apex:column>	
			   	<apex:column >
			   		<apex:outputText value="{!EquipmentVar.x_Branding}" />
			   		<apex:facet name="header">
			   		<a href="javascript:sorter('MAX(Brand__r.Name)');">
							{!$ObjectType.SCInstalledBase__c.fields['Brand__c'].label}
							<img src="/img/arrow{!IF(sortOrder == 'DESC', 'Down', 'Up')}.gif" style="vertical-align:middle; display:{!IF(sortField == 'MAX(Brand__r.Name)', 'inline-block', 'none')};" />
					</a>
					</apex:facet>
			   	</apex:column>	
			   	<apex:column >
			   		<apex:image id="Preview" value="{!EquipmentVar.x_Preview}" />
			   		<apex:facet name="header">
			   			{!$ObjectType.SCProductModel__c.fields['Preview__c'].label}
					</apex:facet>
			   	</apex:column>	
			   	<apex:column >
			   		<apex:outputText value="{!EquipmentVar.x_Anzahl}" />
			   		<apex:facet name="header">
			   		<a href="javascript:sorter('COUNT(Id)');">
			   			Anzahl
			   			<img src="/img/arrow{!IF(sortOrder == 'DESC', 'Down', 'Up')}.gif" style="vertical-align:middle; display:{!IF(sortField == 'COUNT(Id)', 'inline-block', 'none')};" />
					</a>
					</apex:facet>
				</apex:column>
			</apex:pageBlockTable>
			
			<apex:panelGroup layout="block" id="bottomNav" styleClass="bottomNav">
			    <apex:panelGroup layout="block" styleClass="paginator">
			        <apex:panelGroup styleClass="prevNextLinks">
			            <apex:panelGroup styleClass="prevNext">
			                <apex:commandLink rendered="{!hasPrevious}" action="{!firstPage}" reRender="Products,bottomNav">
			                    <img class="first" src="/s.gif" />
			                </apex:commandLink>
			                <apex:outputText rendered="{!NOT(hasPrevious)}">
			                    <img class="firstoff" src="/s.gif" />
			                </apex:outputText>
			            </apex:panelGroup>
			            <apex:panelGroup styleClass="prevNext">
			                <apex:commandLink action="{!Prev}" rendered="{!hasPrevious}" reRender="Products,bottomNav">
			                    <img class="prev" src="/s.gif" />{!$Label.SC_btn_Prev}
			                </apex:commandLink>
			                <apex:outputText rendered="{!NOT(hasPrevious)}">
			                    <img class="prevoff" src="/s.gif" />{!$Label.SC_btn_Prev}
			                </apex:outputText>
			            </apex:panelGroup>
			            <apex:panelGroup styleClass="prevNext">
			                <apex:commandLink action="{!Next}" rendered="{!hasNext}" reRender="Products,bottomNav" >
			                    {!$Label.SC_btn_Next}<img class="next" src="/s.gif" />
			                </apex:commandLink>
			                <apex:outputText rendered="{!NOT(hasNext)}">
			                    {!$Label.SC_btn_Next}<img class="nextoff" src="/s.gif" />
			                </apex:outputText>
			            </apex:panelGroup>
			            <apex:panelGroup styleClass="prevNext">
			                <apex:commandLink action="{!LastPage}" rendered="{!hasNext}" reRender="Products,bottomNav">
			                    <img class="last" src="/s.gif" />
			                </apex:commandLink>
			                <apex:outputText rendered="{!NOT(hasNext)}">
			                    <img class="lastoff" src="/s.gif" />
			                </apex:outputText>
			            </apex:panelGroup>
			        </apex:panelGroup>
			        <apex:panelGroup styleClass="right">
			            {!$Label.SC_app_Page}
			            <apex:inputText value="{!x_PageCounterInput}" styleClass="pageInput" >
			                <apex:actionSupport event="onchange" action="{!setPage}" reRender="Products,bottomNav"/>
			            </apex:inputText>
			            <apex:outputText >{!IntReturnListSize}</apex:outputText>
			        </apex:panelGroup>
			    </apex:panelGroup>
			</apex:panelGroup>
		</apex:pageBlock>
	</apex:outputPanel>
	</apex:form>
	</div>
	
	<!-- Footer -->
	<c:SCVPFooter />	
</apex:page>
