<apex:component >
	<script id="AG-CategoryTree" type="text/template">
		<h2 class="title">{{pageLabelMap 'CategoryTree_Categories'}}</h2>
		<ul class="categories_side_container" id="side_nav">
			<li><a href="#" class="treepromolink">{{pageLabelMap 'Specials'}}</a></li>
			{{#each this}}
				<li>
					<a href="#{{sfid}}">{{name}}</a>
					{{#if children}}
						<ul>
							{{#each children}}
								<li>
									<a href="#{{sfid}}">{{name}}</a>
									{{#if children}}
										<ul>
											{{#each children}}
												<li><a href="#{{sfid}}">{{name}}</a></li>
											{{/each}}
										</ul>
									{{/if}}
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</script>

	<script type="text/javascript">
		CCRZ.pubSub.on('view:CategoryTree:refresh', function(data) {
			var regex = new RegExp("[\\?&]" + "categoryId" + "=([^&#]*)");
        	var results = regex.exec(window.location.search);
        	if (results) {
        		var catId = results[1];
        		var ele = $('a[href="#' + catId +  '"]');
        		if (ele.closest('ul').attr('class') !== 'categories_side_container') {
        			if (ele.closest('ul').closest('li').closest('ul').attr('class') !== 'categories_side_container')
        				ele.closest('ul').closest('li').closest('ul').show();
        			ele.closest('ul').show();
        		}
        		ele.parent('li').addClass('selected');
        		var dispCat = ele.text();
        		$('.subnav-item.services a span.subnav-serv-heading').text(dispCat);
        	}
        	var promoLink = $('.treepromolink');
        	promoLink.unbind();
        	promoLink.click(function() {
        		var page = "{!$Page.ccrz__CCPage}";
        		window.location.href = page + '?pageKey=promotions' + getCSRQueryString();
        	});
        	if (CCRZ.promoView && CCRZ.promoView.model.get("Right Nav") && CCRZ.promoView.model.get("Right Nav").length > 0)
        		promoLink.show();
        	else
        		promoLink.hide();

        	if (CCRZ.pagevars.queryParams && CCRZ.pagevars.queryParams.pageKey && CCRZ.pagevars.queryParams.pageKey == "promotions") {
        		$('.treepromolink').parent('li').addClass('selected');
        		$('.historylink').parent('li').removeClass('active');
        	}	
		});
	</script>
</apex:component>
