<apex:component >
	<script id="AGbreadCrumbBrowser" type="text/template">
		<h2>Navigation</h2>
		<ul>
			<li><a href="{{this.home.attributes.href}}" title="{{this.home.attributes.title}}">{{this.home.attributes.label}}</a></li>

			{{#each this.categoryList.models}}
				<li><a href="{{this.attributes.href}}" class="categoryLink" title="{{this.attributes.title}}">{{this.attributes.label}}</a></li>
			{{/each}}

			{{#if this.displayCategoryBreadCrumb}}
				{{#if this.product.attributes.label}}
					<li><a href="{{this.product.attributes.href}}" title="{{this.product.attributes.title}}">{{this.product.attributes.label}}</a></li>
				{{/if}}
			{{/if}}

			{{#if this.displaySearchBreadCrumb}}	
				<li><a href="#">{{this.searchResultsLabel}}</a></li>
				<li>{{this.product.attributes.label}}</li>
			{{/if}}

			{{#if this.displaySearchBreadCrumbWithoutLink}}
				<li>{{this.search.attributes.label}}</li>
			{{/if}}
		</ul>
	</script>

</apex:component>
