<apex:component controller="cc_cceag_ctrl_Landing">
    <script>
        var CCEAG = CCEAG || {};
    </script>
    <link href="{!URLFOR($Resource.CC_Theme_CCEAG, 'css/weather.css')}" rel="stylesheet" type="text/css" />
    <script src="{!URLFOR($Resource.CC_Theme_CCEAG, 'js/weather.js')}"></script>
    
    <script id="Landing-Desktop" type="text/template">
        <section id="content" class="container">
            <div class="row">
                <div class="col-xs-12 hidden-xs">
                    <h1>{{pageLabelMap 'Welcome_Message'}}</h1>
                </div>
            </div>
            <div class="messagingSection-Error widget widget-alert widget-alert-alarm " style="display: none;"></div>
            <div class="alert alert-info messagingSection-Info" style="display: none"></div>
            <div class="row equalsheight" style="margin-bottom: 20px;">
                <div class="col-md-8 col-sm-12">
                    <div class="article article-order">
                        <h2>{{pageLabelMap 'Select_ShipTo_Heading'}}</h2>
                        
                        <form class="order">
                            
                            <div class="group group-address {{selectValue this.outlets.length 1 'selected' ''}}">
                                <label for="address">{{pageLabelMap 'Delivery_Address_Lbl'}}</label>
                                {{#ifEquals this.outlets.length 1}}
                                    <input type="hidden" name="address" id="address" value="{{this.activeOutlet.outlet}}" />
                                    {{#each this.outlets}}
                                        <div class="select-result">
                                            <span class="name">{{name}}</span>
                                            <span class="address">{{address1}}, {{postalCode}} {{city}}</span>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    <select name="address" id="address" class="select2 searchable" data-placeholder="Suche nach Straße, Filialname...">
                                        <option></option>
                                        {{#each this.outlets}}
                                            {{#ifEquals this.outlet ../../activeOutlet.outlet }}
                                                <option value="{{outlet}}" selected>({{outlet}}) {{name}}, {{address1}}, {{postalCode}}, {{city}}</option>
                                            {{else}}
                                                <option value="{{outlet}}">({{outlet}}) {{name}}, {{address1}}, {{postalCode}}, {{city}}</option>
                                            {{/ifEquals}}
                                        {{/each}}
                                    </select>
                                {{/ifEquals}}
                            </div>

                            {{#ifEquals this.activeOutlet.shipTerms 'Abholung'}}
                                <div class="group group-pickup">
                                    <label for="pickup" class="pickupLabel" >{{pageLabelMap 'Pickup_Msg'}}</label>
                                    {{#ifEquals this.cartData.shippingMethod 'Pickup'}}
                                        <input type="checkbox" checked class="pickup" id="pickup" name="pickup" value="true" />
                                    {{else}}
                                        <input type="checkbox" class="pickup" id="pickup" name="pickup" value="true" />
                                    {{/ifEquals}}
                                </div>
                            {{/ifEquals}}

                            <div class="group group-date selected-date">
                                <label for="date">{{pageLabelMap 'Delivery_Date_Lbl'}}</label>
                                <input type="text" name="date" id="date-display" value="{{this.displayDate}}" readonly="readonly" />

                                <span class="orderhint">{{this.orderBy}}</span>
                                <div class="order-description"></div>

                                <input type="hidden" name="date-day" id="date-day" value="{{this.day}}"  />
                                <input type="hidden" name="date-month" id="date-month" value="{{this.month}}"  />
                                <input type="hidden" name="date-year" id="date-year" value="{{this.year}}"  />

                                <button class="date-picker"></button>
                                <div class="zebra-datepicker"></div>
                            </div>

                            <button type="button" class="button button-red button-plus continue" id="submit" style="position: absolute; left: 20px; bottom: 20px;">{{pageLabelMap 'Proceed'}}</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="article article-services">
                        <h2>Mein Service-Bereich</h2>

                        <ul class="linklist linklist-services">
                            <li><a href="#" data-id="myOrders" class="delivery-tracking accountLink">Lieferverfolgung</a></li>
                            <li><a href="#" data-id="myAddressBook" class="address-managment accountLink">Lieferadressen ansehen</a></li>
                            <li><a href="#" data-id="mySalesConsultant" class="support-contact accountLink">Kontakt zum Verkaufsberater</a></li>
                            <li><a href="#" data-id="myWishlists" class="order-templates accountLink">Bestellvorlagen</a></li>
                            <li><a href="#" data-id="contactInfo" class="accountdata accountLink">Meine Registrierungsdaten</a></li>
                        </ul>

                        <a href="#" class="more">Mehr Optionen</a>
                        <a href="#" class="more close-overlay">{{pageLabelMap 'Close'}}</a>
                    </div>
                </div>
            </div>

            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <h1>{{pageLabelMap 'Tips_Heading'}}</h1>
                </div>
            </div>

            <div class="row equalsheight-2 hidden-xs">
                <div class="col-sm-6 col-xs-12">

                        <div class="article article-products">
                            <h3 style="margin-bottom: 5em;">{{pageLabelMap 'Product_Reco'}}</h3>
                    
                            <div class="carousel" id="ProductTeaserCarouselContainer">                              
                                <div style="visibility:hidden"><a href="productdetail.html" style="background-image: url({!URLFOR($Resource.CC_Theme_CCEAG, 'images/product_1.jpg')});"><span>1. Coca-Cola</span></a></div>
                            </div>
                    
                            <div class="carousel-prev"><span>Zur√ºck</span></div>
                            <div class="carousel-next"><span>Weiter</span></div>
                        </div>                  
                </div>
                
                <div class="col-md-6 col-xs-12">
                    <h1 class="hidden-md hidden-lg">Es wird sch&ouml;n</h1>
                    <div id="weather" class="article article-weather">
                        <h3><span></span></h3>
                        <p></p>
                        <div class="forecasts"></div>
                        <div id="reflection"></div>
                    </div>
                </div>

                <!--div class="col-sm-6 col-xs-12">
                    <div class="article article-teaser">
                        <div class="teaser-image" style="background-image: url({!URLFOR($Resource.CC_Theme_CCEAG, 'images/t3.jpg')});"></div>
                        <h3>Mehr Gewinn mit Kalkulation</h3>
                        <ul class="clearfix linklist multicolmn">
                            <li class="first"><a href="">Kennzahlenrechner ungek√ºhlt</a></li>
                            <li><a href="">PITA Rechner f&uuml;r den AH Markt</a></li>
                            <li><a href="">Kennzahlenrechner gek√ºhlt</a></li>
                            <li><a href="">PITA Rechner f&uuml;r den H Markt</a></li>
                            <li class="last"><a href="">Coke &amp; Meal Kombimen&uuml;rechner</a></li>
                        </ul>
                    </div>
                </div-->
            </div>

            <div class="modal fade warnmsg-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content widget widget-alert widget-alert-alarm">
                        <h3>
                            Sie haben Ihre Lieferadresse oder Ihr Lieferdatum geändert.
                        </h3>
                        <p>
                            Gehen Sie auf Abbrechen und anschließend auf Weiter zur Produktauswahl, um diese Änderungen zu übernehmen.
                        </p>
                        <br>
                        <p>
                            <button type="button" class="button button-red proceedUnsaved">Weiter ohne speichern</button>
                            <button type="button" class="button cancelProceed pull-right">Abbrechen</button>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </script>

    <script id="Landing-Mobile" type="text/template">
    </script>

    <script type="text/javascript">
        jQuery(function($) {
            CCRZ.models.AvailAddressModel = Backbone.Model.extend({
                idAttribute: "outlet"
            });
            CCRZ.collections.AvailAddressList = Backbone.Collection.extend({
                model : CCRZ.models.AvailAddressModel
            });
            
            CCRZ.models.WeatherForecast = CCRZ.CloudCrazeModel.extend({
                className: 'cc_cceag_ctrl_Landing',
                fetch: function (accountId,callback) {
                    var model = this;
                    Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.cc_cceag_ctrl_Landing.fetchWeatherForecast}',
                        CCRZ.pagevars.remoteContext, 
                        accountId,
                        function (response) {
                            model.set(model.parse(response));
                            callback(JSON.parse(response.data.replace(/&quot;/g, '"')));
                        }, {escape: false, buffer: false}
                    );
                }
            });
        });
    </script>

    <script type="text/javascript">
        jQuery(function($) {

            CCRZ.views.landingView = CCRZ.CloudCrazeView.extend({
                templatePhone : CCRZ.util.template('Landing-Desktop'),
                templateDesktop : CCRZ.util.template('Landing-Desktop'),
                className: 'cc_cceag_ctrl_Landing',
                viewName : "landingView",
                dirty: false,
                el: $('.landingmain'),
                events: {
                    "click .continue" : "continue",
                    "change .select2" : "processAddress",
                    "click .accountLink" : "gotoMyAccount",
                    "click .pickup" : "selectPick"
                },
                managedSubView: true,
                init: function() {
                    var v = this;
                    v.dataSet = new Object();
                    v.addressData = new CCRZ.collections.AvailAddressList();
                    v.weatherForecast = new CCRZ.models.WeatherForecast();
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.cc_cceag_ctrl_Landing.fetchOutlets}', CCRZ.pagevars.remoteContext,
                        function(response){
                            if (response && response.success) {
                                v.dataSet = response.data;
                                v.addressData.reset(response.data.outlets);
                                v.dataSet.activeOutlet = v.addressData.get(v.dataSet.selectedOutlet).toJSON();
                                v.dataSet.activeDateData = v.dataSet.deliveryData[v.dataSet.selectedOutlet];
                                if (v.dataSet.cartData.requestedDate && v.dataSet.displayDate) {
                                    var dateParams = v.dataSet.displayDate.split(' ');
                                    v.processDate(new Date(parseInt(dateParams[2]), parseInt(dateParams[1])-1, parseInt(dateParams[0])));
                                }
                                else if (v.dataSet.cartData.shippingMethod == 'Pickup')
                                    v.processDate(v.calculatePickupDate());
                                else
                                    v.processDate(v.calculateFirstDeliveryDate());
                                v.determineCalendarSettings();
                                if (v.dataSet.isNew)
                                    CCRZ.pubSub.trigger('cartChange', v.dataSet.cartData.encryptedId);
                                CCRZ.pagevars.currentCartID = v.dataSet.cartData.encryptedId;
                                v.render();
                            }
                        },
                        {escape: false, buffer: false}
                    );
                },
                updateWeather : function() {
                    var v = this;
                    var accountId = null;
                    accountId = v.dataSet && v.dataSet.activeOutlet && v.dataSet.activeOutlet.sfid ? v.dataSet.activeOutlet.sfid : null;
                    if (!accountId) {
                        accountId = v.dataSet && v.dataSet.outlets && v.dataSet.outlet.length>0 ? v.dataSet.outlets[0]['sfid'] : null;
                    }
                    if (!accountId) {
                        accountId = CCRZ.currentUser.Contact.AccountId;
                    }
                    v.weatherForecast.fetch(accountId,function (responseData) {
                        v.dataSet.weatherForecast = responseData;
                        if (v.dataSet.weatherForecast)
                            CCEAG.weather($('.article-weather'), v.dataSet.weatherForecast, {
                                basePath: '{!URLFOR($Resource.CC_CCEAG_Weather, '')}/'
                            });
                    });
                },
                renderPhone : function() {
                    var v = this;
                    v.$el.html(v.templatePhone(v.dataSet));
                    v.postProcess();
                },
                renderDesktop : function() {
                    var v = this;
                    v.$el.html(v.templateDesktop(v.dataSet));
                    v.postProcess();
                },
                selectPick: function(event) {
                    var v = this;
                    if ($(event.currentTarget).is(':checked')) {
                        v.dataSet.cartData.shippingMethod = 'Pickup';
                        v.processDate(v.calculatePickupDate());
                    }
                    else {
                        v.dataSet.cartData.shippingMethod = 'Delivery';
                        v.processDate(v.calculateFirstDeliveryDate());
                    }
                    v.determineCalendarSettings();
                    v.dirty = true;
                    v.render();
                },
                determineCalendarSettings: function() {
                    var v = this;
                    if (v.dataSet.cartData.shippingMethod == 'Pickup') {
                        var dayDisp = v.dataSet.day; 
                        if (v.dataSet.day < 10)
                            dayDisp = '0' + v.dataSet.day;
                        v.dataSet.calDirection = dayDisp + ' ' + v.dataSet.month + ' ' + v.dataSet.year;
                        v.dataSet.calExclusing = [ "* * * 0,6"];
                    }
                    else {
                        v.dataSet.calDirection = v.dataSet.activeDateData.direction;
                        v.dataSet.calExclusing = v.dataSet.activeDateData.Exclusions;
                    }
                },
                calculatePickupDate: function() {
                    var now = new Date();
                    var pastCutoff = (now.getHours() >= 12);
                    if (!pastCutoff && now.getHours() == 12)
                        pastCutoff = (now.getMinutes() > 0);
                    if (pastCutoff)
                        now.setDate(now.getDate() + 2);
                    else
                        now.setDate(now.getDate() + 1);
                    return now;
                },
                calculateFirstDeliveryDate: function() {
                    if (this.dataSet.activeDateData.defaultDate) {
                        var dateParams = this.dataSet.activeDateData.defaultDate.split(' ');
                        var now = new Date(parseInt(dateParams[2]), parseInt(dateParams[1])-1, parseInt(dateParams[0]));
                        return now;
                    }
                    else
                        return null;
                },
                processDate: function(dateObj) {
                    this.dataSet.month = dateObj.getMonth()+1;
                    this.dataSet.day = dateObj.getDate();
                    this.dataSet.year = dateObj.getFullYear();
                    this.dataSet.displayDate = CCRZ.formatDate(dateObj.getTime());
                    var orderTime = '08:30';
                    var hintDate = '';
                    var computeDate = 0;
                    if (dateObj.getDay() == 1)
                         computeDate = 2;
                    if (this.dataSet.cartData.shippingMethod == 'Pickup') {
                        hintDate = moment(dateObj).subtract("days", 1 + computeDate).lang("de").format("LL");
                        orderTime = '13:00';
                    }
                    else
                        hintDate = moment(dateObj).subtract("days", this.dataSet.activeDateData.buffer + computeDate).lang("de").format("LL");
                    this.dataSet.orderBy = CCRZ.processPageLabelMap("Order_By", [hintDate, orderTime]).toString();
                },
                processAddress: function(event) {
                    var v = this;
                    var shipTo = $(event.currentTarget).val();
                    v.dataSet.selectedOutlet = shipTo;
                    v.dataSet.activeOutlet = v.addressData.get(v.dataSet.selectedOutlet).toJSON();
                    v.dataSet.activeDateData = v.dataSet.deliveryData[v.dataSet.selectedOutlet];
                    if (v.dataSet.activeOutlet.shipTerms == 'Abholung') {
                        v.dataSet.cartData.shippingMethod = 'Pickup';
                        v.processDate(v.calculatePickupDate());
                    }
                    else {
                        v.dataSet.cartData.shippingMethod = 'Delivery';
                        v.processDate(v.calculateFirstDeliveryDate());
                    }
                    v.determineCalendarSettings();
                    v.dirty = true;
                    v.render();
                },
                initCalendar: function() {
                    var v = this;
                    if ($.fn.Zebra_DatePicker !== undefined) {
                        $("button.date-picker").Zebra_DatePicker({
                            show_icon: false,
                            always_visible: $(".zebra-datepicker"),
                            format: 'd n Y',
                            direction: [
                                // fallback for startdate in case the property is empty
                                v.dataSet.calDirection || (function () {
                                    var date = new Date();
                                    return date.getDate() + ' ' + (date.getMonth() + 1) + ' ' + date.getFullYear();
                                })(),
                                // no end
                                false
                            ],
                            disabled_dates: v.dataSet.calExclusing,
                            months: ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'],
                            days: ['Sonntag','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag'],
                            onSelect: function(dateFormated, date, dateObject, ref) {
                                v.processDate(dateObject);
                                $("input[name='date'] + span.orderhint").text(v.dataSet.orderBy);
                                $("input[name='date']").parent().addClass("selected-date");
                                $(".order-description").hide();
                                $("#date-month").val(v.dataSet.month);
                                $("#date-day").val(v.dataSet.day);
                                $("#date-year").val(v.dataSet.year);
                                $("#date-display").val(v.dataSet.displayDate);
                                $(".zebra-datepicker").hide();
                                v.dirty = true;
                                $('header a').on('mousedown', function() {
                                    actionLink = $(this);
                                    if (v.dirty) {
                                        $('.warnmsg-modal-sm').modal();
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                });
                            }
                        });

                        $("form.order .group-date button, form.order .group-date input").on("click", function(event) {
                            event.preventDefault();
                            if ($(".zebra-datepicker").is(":visible")) {
                                $(".zebra-datepicker").hide();
                            } else {
                                $(".zebra-datepicker").show();
                            }
                        });
                    }
                },
                postProcess: function() {
                    var v = this;
                    v.initCalendar();
                    v.actionLink = null;
                    
                    $('.proceedUnsaved').on('click', function() {
                        if (actionLink)
                            actionLink.click();
                    });
                    $('.cancelProceed').on('click', function() {
                        $('.warnmsg-modal-sm').modal('hide');
                    });

                    $("input[name='date'] + span.orderhint").show();
                    
                    if ($.fn.carouFredSel !== undefined) {
                        v.initProductTeaser();
                    }
                    v.updateWeather();

                    /* styled checkboxes */
                    $(".group input[type='checkbox']").on("change", function(event) {
                        var $that = $(this);
                        var $parent = $that.parent(".group");

                        if ($that.is(":checked")) {
                            $parent.addClass("active");
                        } else {
                            $parent.removeClass("active");
                        }
                    });

                    /* helper to find defined children and self on given selector */
                    $.fn.findAndSelf = function(selector) { 
                        return this.find(selector).addBack().filter(selector); 
                    }

                    $("select.searchable").select2({
                        "dropdownMarginRight": 34
                    });

                    var overlayClassName = "overlay";

                    var showModalBackdrop = function(show, removeDirectly) {
                        if (show && $("div.modal-backdrop").length !== 0) {
                            return;
                        }

                        if (show) {
                            $("body").append('<div class="modal-backdrop fade in"></div>');
                            return;
                        }

                        $("div.modal-backdrop").toggleClass("in out");

                        if (removeDirectly === true) {
                            $("div.modal-backdrop").remove();
                        } else {
                            setTimeout(function() {
                                $("div.modal-backdrop").remove();
                            }, 500);
                        }
                    }


                    // open / close of service box
                    $("div.article.article-services a.more").on("click", function(event) {
                        event.preventDefault();
                        var $that = $(this);
                        var $box = $that.parent();
                        var currentBoxWidth = $box.outerWidth();    

                        if ($that.hasClass("close-overlay")) {
                            // close
                            $box.removeClass(overlayClassName);
                            $box.css({width: "auto"});
                            showModalBackdrop(false, false);
                        } else {
                            // open
                            showModalBackdrop(true  );
                            $box.css({width: currentBoxWidth + "px"})
                            $box.addClass(overlayClassName);
                        }
                    });

                    // on resize - remove overlay
                    $(window).resize(function() {
                        $("div.article.article-services." + overlayClassName)
                            .removeClass(overlayClassName)
                            .css({width: "auto"});
                        showModalBackdrop(false, true);
                    });
                    
                },            
                initProductTeaser : function() {
                    var initCarousel = function(){
                        $(".article div.carousel").carouFredSel({
                            items               : 3,
                            direction           : "left",
                            responsive          : true,
                            scroll : {
                                items           : 1,
                                easing          : "quadratic",
                                duration        : 500,                         
                                pauseOnHover    : true
                            },
                            prev : {
                                button          : $("div.body div.article.article-products div.carousel-prev, div.carousel-prev")
                            },
                            next : {
                                button          : $("div.body div.article.article-products div.carousel-next, div.carousel-next")
                            }
                        });
                        
                        if ($.fn.equalHeights !== undefined && $(".equalsheight div.widget, .equalsheight div.article").length > 0) {
                            $(".equalsheight div.widget, .equalsheight div.article").equalHeights();
                            $(window).resize(function () {
                                $(".equalsheight div.widget, .equalsheight div.article").css("height", "auto");
                                $(".equalsheight div.widget, .equalsheight div.article").equalHeights();
                            });
                        }
                        if ($.fn.equalHeights !== undefined && $(".equalsheight-2 div.article").length > 0) {
                            $(".equalsheight-2 div.article").equalHeights();
                            $(window).resize(function () {
                                $(".equalsheight-2 div.article").css("height", "auto");
                                $(".equalsheight-2 div.article").equalHeights();
                            });
                        }
                    };
                    
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.cc_cceag_ctrl_Landing.getProductTeaserProducts}', CCRZ.pagevars.remoteContext , function(response){
                        if (response && response.success) {
                            var $container = $("#ProductTeaserCarouselContainer");
                            var template = Handlebars.compile('<div><a href="javascript:return false" style="cursor: default; background-size: auto 100px; background-image: url({{imageUrl}});"><span>{{position}}. {{name}}</span></a></div>')                            
                            if (response.data.products) {
                                $container.html('');                                
                                for (var k=0;k<response.data.products.length;k++) {
                                    var product = response.data.products[k];
                                    product['position'] = k+1;
                                    var html = template(product);
                                    $container.html($container.html()+html);                                    
                                }
                            }
                            initCarousel();
                        }                        
                    });                    
                    
                    initCarousel();
                    $('header a').on('mousedown', function() {
                        v.actionLink = $(this);
                        event.preventDefault();
                        event.stopPropagation();
                        if (v.dirty) {
                            setTimeout(function() {
                                $('.warnmsg-modal-sm').modal();
                            }, 100);
                        }
                    });
                },
                gotoMyAccount: function(event) {
                    var acctPage = $(event.currentTarget).data("id");
                    CCRZ.myAccount(acctPage);
                },
                continue: function(event) {
                    var v = this;
                    v.dirty = false;
                    var selectedOutlet = v.dataSet.activeOutlet;
                    delete selectedOutlet.nextDelivery;
                    $('.messagingSection-Error').hide();
                    var shipMethod = ($('input.pickup').is(':checked')) ? 'Pickup' : 'Delivery';
                    var dateMonth = $("#date-month").val();
                    var dateDay = $("#date-day").val();
                    var dateYear = $("#date-year").val();
                    if ((dateMonth == '') || (dateDay == '') || (dateYear == '')) {
                        var errContext = CCRZ.createPageMessage('ERROR', "messagingSection-Error", 'MISSING_DELIVERY_DATE');
                        CCRZ.pubSub.trigger("pageMessage", errContext);
                        return;
                    }
                    else {
                        this.dataSet.cartData.requestedDateMonth = dateMonth;
                        this.dataSet.cartData.requestedDateDay = dateDay;
                        this.dataSet.cartData.requestedDateYear = dateYear;
                    }
                    this.dataSet.cartData.currencyCode = CCRZ.userIsoCode;
                    this.dataSet.cartData.shippingMethod = shipMethod;
                    delete this.dataSet.cartData.requestedDate;
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.cc_cceag_ctrl_Landing.selectOutlet}', CCRZ.pagevars.remoteContext, selectedOutlet, v.dataSet.cartData, function(response){
                        if (response && response.success) {
                            var cartId = response.data;
                            CCRZ.gotoHome(cartId);
                        }
                    });
                }

            });
            
            CCRZ.landingView = new CCRZ.views.landingView();
        });


    </script>
   
</apex:component>
