<apex:component controller="cc_cceag_ctrl_StatusBar">
    
    <script src="{!URLFOR($Resource.CC_Theme_CCEAG, 'js/niceFileInput/jquery.nicefileinput.min.js')}"></script>
    <script src="{!URLFOR($Resource.CC_Theme_CCEAG, 'js/carouFredSel-6.2.1/helper-plugins/jquery.touchSwipe.min.js')}"></script>
    
    <script>
        Handlebars.registerHelper('log', function(obj){console.log(obj);});
    </script>

    
    <script id="AGproductSearchTemplatePhone" type="text/template">
        <div id="search-form" class="hidden-xs">
            <input name="" id="searchText" class="search_input" type="text" value="" placeholder="Produktsuche" />
            <button class="search_button" id="doSearch" type="button"><span class="hidden">Suchen</span></button>
        </div>
    </script>

    
    <script id="AGproductSearchDesktop" type="text/template">
        <div id="search-form" class="hidden-xs">
            <input name="" id="searchText" class="search_input" type="text" value="" placeholder="Produktsuche" />
            <button class="search_button" id="doSearch" type="button"><span class="hidden">Suchen</span></button>
        </div>
    </script>


    <script id="AGHeaderDesktop" type="text/template">
        <button class="visible-xs" id="toggle-mobile-navigation"><span class="hidden">S/H Mobile Navigation</span></button>
        
        <!-- logo -->
        <a href="#" id="logo"><span class="hidden">Coca-Cola Erfrischungsgetränke</span></a>
        <!-- logo -->
        
        <div id="brand">
            <span class="hidden">
                mein.cceag.de<br />
                Das Portal für Kunden der CCE AG
            </span>
        </div>
        
        <div class="searchsec" style="display: none;"></div>
        
        <ul class="navigation-top">
            <li class="user-info hidden-xs"></li>
            <li class="support hidden-xs">Beratungshotline 0800-222 32 35</li>
            <!--
            <li class="account hidden-xs hidden-sm"><a href="#" class="acct" id="goToAccount"><span class="hidden-xs">Mein Bereich</span></a></li>
            -->
            <li class="shopping"></li>
        </ul>
        
        <div class="menuSection"></div>
        
        <div class="navigation-main-short hidden-sm hidden-md hidden-lg" style="display: none;">
            <ul class="menuphone"></ul>
            <ul class="logoutsec">
                
            </ul>
        </div>
    </script>
    
    
    <script id="AGCartHeaderDesktop" type="text/template">
        <a class="chead" href="#"><span class="hidden-xs">Warenkorb</span><em>{{this.cartCount}}</em></a>
    </script>
    
    
    <script id="AGMyAccount-Desktop" type="text/template">
        {{#if this}}
            {{#ifEquals this.UserType 'Guest'}}
                <a href="#login" class="goToLogin">{{pageLabelMap 'Component_SiteHeader_Login'}}</a>
            {{else}}
                <span style="margin-right: 5px;" class="user-info">Eingeloggt als {{this.FirstName}} {{this.LastName}}</span> <a href="{!$Page.LogoutPage}" class="gotoLogout">&gt; Ausloggen</a>
            {{/ifEquals}}
        {{else}}
            <a href="#login">{{pageLabelMap 'Component_SiteHeader_Login'}}</a>
        {{/if}}
    </script>
    
    <script id="AGMyAccount-Phone" type="text/template">
        {{#if this}}

            {{#ifEquals this.UserType 'Guest'}}
                <li><a href="#login" class="goToLogin">{{pageLabelMap 'Component_SiteHeader_Login'}}</a></li>
            {{else}}
                <li class="user-info">Eingeloggt als {{this.FirstName}} {{this.LastName}}</li>
                <li class="loginout "><a class="gotoLogout" href="{!$Page.LogoutPage}">Ausloggen</a></li>
            {{/ifEquals}}
        {{else}}
            <li> <a href="#login" class="goToLogin">{{pageLabelMap 'Component_SiteHeader_Login'}}</a></li>
        {{/if}}
            
    </script>

    <script id="ProductListHeaderPhone" type="text/template">
        {{#each this}}
            <li><a href="#" class="categoryLink" data-id="{{this.sfid}}">{{{this.name}}}</a></li>
        {{/each}}
    </script>
    
    <script type="text/javascript">
        jQuery(function($) {
            CCRZ.pubSub.on('view:headerView:refresh', function(data) {
                console.log(data);
                if (CCRZ.productSearchView) {
                    CCRZ.productSearchView.render();
                }
                
                $('input.search_input').placeholder();
                
                $("#logo").click(function() {
                    var page = "{!$Page.ccrz__CCPage}";
                    window.location.href = page + '?cartId=' + CCRZ.pagevars.currentCartID + '&pageKey=Landing' + getCSRQueryString() ;
                });
                
                $("#toggle-mobile-navigation").click(function(){
                    $(".navigation-main-short").toggle();
                });
                data.getCategories();
            });
        
            CCRZ.pubSub.on("view:cartHeaderView:refresh", function(view){
                $(".shopping .chead em").html('');
                cc_cceag_ctrl_StatusBar.getUniqueCartCount(CCRZ.pagevars.remoteContext.currentCartId, function(response){
                    $(".shopping .chead em").html(response);
                }, {buffer: false});
            });
        });
    </script>
    <c:cc_cceag_Menu />
</apex:component>
