<!-- 
/**
 *
 * @(#)SCMap.component
 * 
 * Copyright 2012 by GMS Development GmbH
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * 
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 */
 
/**
 * This component needs the JavaScript resources from SCMapView.page
 *
 * @author Eugen Tiessen <etiessen@gms-online.de>
 * @version $Revision$, $Date$
 */
-->
<apex:component selfClosing="true" rendered="true">

    <apex:attribute description="The actual data to show on the map"
                    required="false"
                    type="SCMapViewData"
                    name="mapViewData"/>
    
    <apex:attribute description="divid"
                    required="false"
                    type="String"
                    name="divId"/>
                    
   	<apex:attribute description="height"
                    required="true"
                    type="String"
                    name="height"/>
    




<script type="text/javascript">
    
/**
 * Init GoogleMap
 *
 * divId is a prefix
 */
 var {!divId};
 
function {!divId}Init(){
	var jsonCode={!IF(mapViewData.Json == null,'null',mapViewData.Json)};
		
		try{
			{!divId}=GoogleMap.getInstanceFromJson(document.getElementById('{!divId}'),jsonCode);
		}
		catch(e)
		{
			console.info('Parse error:'+e);
		}
		
		
		{!divId}.showMap();
		
}
   
 
//Load Map when document loaded 
jQuery(document).ready({!divId}Init);
</script>


<!--		<div style="">-->
	        <div id="{!divId}" style="width:100%; height:{!height}"></div>
<!--	        <div id="warnings_panel"></div>-->
<!--	    </div>-->

    
</apex:component>
