<!-- <apex:component controller="GMSET_SCOrderLog" selfClosing="true"> -->
<apex:component controller="SCOrderProtocolController" selfClosing="true">
    <apex:attribute name="oid" 
        description="Object ID" 
        type="String"
        required="true" 
        assignTo="{!oid}" />
        
    <apex:attribute name="popup" 
        description="Inline Mode" 
        type="Boolean"
        required="false" 
        assignTo="{!popup}" />


    <apex:pageBlock title="{! IF(popup,$Label.SC_app_OrderProtocol + ' ' + orderName,'')}">
        <apex:pageBlockButtons location="top">
            <apex:form >
                <!-- Buttons visible inline -->
                
                <apex:commandLink action="/apex/scordernote?oid={!oid}&reload=false&showHeader=false"
                    target="_top" value="{!$Label.SC_btn_Note_Attachment}" styleClass="btn"
                    style="text-decoration:none; color:#000"  rendered="{! NOT(popup)}"/>
                
                <!-- Buttons visible in a popup window -->    
               
                <apex:commandLink action="/apex/scordernote?oid={!oid}&reload=false&showHeader=false&retURL=/apex/SCOrderProtocolPopup?id={!oid}"
                    target="_top" value="{!$Label.SC_btn_Note_Attachment}" styleClass="btn"
                    style="text-decoration:none; color:#000"  rendered="{! popup}"/>
            </apex:form>
        </apex:pageBlockButtons>

        <apex:pageBlockTable value="{!historyLog}" var="log" >
            <apex:column value="{!log.weekday}" headerValue="{!$Label.SC_app_Weekday}" />
            <apex:column value="{!log.valueOfDate}" headerValue="{!$Label.SC_app_Date}" />
            <apex:column value="{!log.username}" headerValue="{!$Label.SC_app_User}" />
            <apex:column value="{!log.action}" headerValue="{!$Label.SC_app_Action}" />
            <apex:column headerValue="{!$Label.SC_app_Description}" rendered="{! log.id != null}">
                <a href="/{!log.id}" target="_blank">{!log.info}</a>
            </apex:column>
            <apex:column value="{!log.info}" headerValue="{!$Label.SC_app_Description}" rendered="{! log.id == null}" />
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:component>
